@import "tailwindcss";
@plugin "daisyui";

/* Nav link glow */
.glow {
  text-shadow: 0 0 8px rgba(99, 102, 241, 0.7),
    0 0 15px rgba(139, 92, 246, 0.7);
}

/* GitHub button glow */
.glow-button {
  box-shadow: 0 0 8px rgba(99, 102, 241, 0.7),
    0 0 15px rgba(139, 92, 246, 0.7),
    0 0 20px rgba(139, 92, 246, 0.5);
  transition: box-shadow 0.3s ease-in-out;
}

/* Hover এ আরও glow করবে */
.glow-button:hover {
  box-shadow: 0 0 12px rgba(99, 102, 241, 0.9),
    0 0 25px rgba(139, 92, 246, 0.9),
    0 0 35px rgba(139, 92, 246, 0.7);
}
